{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}

	<title>Modifier un article - Administration - Blog professionnel

	</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/admin_update_article.css">
{% endblock %}

{% block content %}
	{% include "menu_admin.twig" %}

	<div class="container-fluid" id="article">

		<div class="container-fluid" id="banner">
			<img src="../public/assets/images/banner_add_update_article.jpg" alt="">
		</div>

		<div class="container-fluid" id="form">
			<div class="requirements-box">
				<h1 id="h1">Modifier un article
				</h1>
				<p class="requirements">Tous les champs * sont requis</p>
			</div>

			<form id="form" class="pt-3" action="?action=update_article&amp;id={{article.id}}" method="post" enctype="multipart/form-data" onclick="x()">
				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-box">
						<div class="mb-3">
							<label for="title" class="form-label">Titre *</label>
							<input class="form-control" id="title" type="text" name="title" id="title" aria-describedby="" value="{{article.title is defined ? article.title : default_value.title}}">

							<p class="text-danger error" id="error-title">
								{{message.title_error is defined ? message.title_error : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="image-file" class="form-label">Image *</label>
							<input class="form-control" type="file" name="image_file" id="image-file" onchange="displayImagePreview(this)">
							<p class="text-danger error" id="error-image-article">{{message.file_error is defined ? message.file_error : ''}}</p>
						</div>
						<input type="text" name="original_file_path" value="{{article.image is defined ? article.image : default_value.file_image}}" hidden>
						
						<div class="mb-3">
							<label for="short-phrase" class="form-label">Chapô *</label>
							<input class="form-control" type="text" name="short_phrase" id="short-phrase" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum necessitatibus dolorem" value="{{article.short_phrase is defined ? article.short_phrase : default_value.short_phrase}}">
							<p class="text-danger error" id="error-short-phrase-article">{{message.short_phrase_error is defined ? message.short_phrase_error : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="content" class="form-label">Contenu *</label>
							<textarea class="form-control" type="text" name="content" id="content">{{article.content is defined ? article.content : default_value.content}}</textarea>
							<p class="text-danger error" id="error-content-article">{{message.content_error is defined ? message.content_error : ''}}</p>
						</div>

						<div class="mb-3">
							<label for="tags" class="form-label">Tags</label>
							<input class="form-control" type="text" name="tags" id="tags" value="{{article.tags is defined ? article.tags : default_value.tags}}">
							<p class="text-danger error" id="error-tags-article">{{message.tags_error is defined ? message.tags_error : ''}}</p>
						</div>

					</div>


					<input class="btn btn-dark" type="submit" name="submit" value="Envoyer">
				</div>
			</form>
		</div>

		<div class="container-fluid" id="preview">
			<h2 id="preview-title">Aperçu</h2>
			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 preview-box">

					<img src="{{article.image is defined ? article.image : default_value.file_image}}" id="img-preview">
					<h2 id="title-preview">{{article.title is defined ? article.title : default_value.title}}</h2>
					<p id="short-phrase-preview">{{article.short_phrase}}</p>
					<p id="content-preview">{{article.content}}</p>

				</div>

			</div>
		</div>
	</div>
	<script src="../public/assets/js/article_live_preview.js"></script>
{% endblock %}

