{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}
	<title>Accueil Administration | Administration</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/admin_homepage.css">
{% endblock %}

{% block content %}
	<header>
		<nav class="menu">
			<a href="?selection=blog">
				<i class="fa-solid fa-newspaper"></i>
			</a>
			<ul>
				<li>
					<a href="?selection=add_article">
						<i class="fa-solid fa-plus"></i>
					</a>
				</li>
				{% if session is defined and session.type_user == "admin" %}
					<li>
						<a href="?action=logout">
							<i class="fa-solid fa-right-from-bracket"></i>
						</a>
					</li>
				{% endif %}

			</ul>
		</nav>
	</header>


	<div class="container-fluid" id="homepage">

		<div class="container-fluid" id="banner">
			<img class="banner-img" src="../public/assets/images/banner/admin_homepage.jpg" alt="admin homepage banner">
		</div>

		<h1 id="h1">Bienvenue, {{session.username}}</h1>


		<div class="container-fluid" id="last-comments">
			<h2 class="h2" id="h2">Derniers commentaires publiés récemments
				<span id="total-comments">({{total_comments is defined ? total_comments : 0}})</span>
			</h2>

			<div class="row">
			
			{% if comments is empty %}
			<h2 class="text-center" id="no-comments">Aucun commentaire n'a été publié pour le moment</h2>
			{% else %}
				{% for comment in comments %}

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 comments">
					<a class="comment" href="?selection=comment_details&amp;idComment={{comment.id}}">
						<h3 class="h3">{{comment.title}}</h3>
						<div class="author-comment">
							<h4>{{comment.username}}, {{comment.dateCreation}} : </h4>
							<p>{{comment.content}}</p>
						</div>
					</a>
				</div>
				{% endfor %}				
			{% endif %}
			


			</div>
		</div>


		<div class="container-fluid" id="last-articles">
			<h2 class="h2" id="last-articles-title">Derniers articles publiés récemments</h2>
			{% if articles is empty %}
			<h2 class="text-center" id="no-article">Aucun article n'a été publié pour le moment</h2>
			{% else %}
				
				{% for article in articles %}
					<div class="row mt-5">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 articles">
							<article>
								<h3 class="article-title">{{article.title}}</h3>
								<p class="short-content">{{article.content}}</p>
								<div class="commands">
									<button class="btn btn-warning">
										<a class="commands-admin" href="?selection=view_update_article&amp;id={{article.id}}">Modifier</a>
									</button>
									<button class="btn btn-dark">
										<a class="commands-admin" href="?action=delete_article&amp;id={{article.id}}">Supprimer</a>
									</button>
								</div>
							</article>
						</div>
					</div>
				{% endfor %}

			{% endif %}


		</div>

	</div>
	{% if session is defined and session.type_user == "admin" %}
		{% include "admin_footer.twig" %}
	{% else %}

		{% include "footer.twig" %}

	{% endif %}
{% endblock %}

